.cart{
    border-radius: 15px;
    height: 70px;
    display: flex;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.800);
    padding: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cart img{
    max-width: 50px;
}

.cart:hover{
    color: white;
    text-decoration: none;
    transform: scale(1.1);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.counter{
    padding: 0;
    margin: 0;
}

