.slides {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}

.slide {
    display: none;
}

.slide.active {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.slideTexto {
    background-color: #006365b4;
    padding: 4vw;
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
    text-align: center;
}

.slideLink {
    width: 80%;
    position: relative;
    border-radius: 15px; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.slideLink:hover{
    transform: scale(1.1);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
    .slide img {
        width: 100%;
    }

    .slideTexto {
        padding: 8vw;
        font-size: 4vw;
    }
}