.slides {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 5% auto;
}

.slide {
    display: none;
}

.slide.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.slideTexto {
    height: auto;
    background-color: #006365b4;
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 29px;
    text-align: center;
}

.slideLink {
    width: 90%;
    min-width: 800px;
    position: relative;
    border-radius: 15px; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.slideLink:hover{
    transform: scale(1.1);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 900px) {
    .slides {
        flex-direction: column;
        align-items: center;
    }

    .slideLink {
        min-width: auto;
    }

    .slideTexto {
        width: 80%;
        font-size: 15px;
        padding: 10px;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
}
