.cardItem{
    margin: 15px;
    width: 300px;
    max-height: 500px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cardItem:hover{
    color: black;
    transform: scale(1.1);
    text-decoration: none;
    border-radius: 10px;
}

.cardItem img{
    margin: 20px;
    width: 95%;
    height: 200px;
    width: auto;
}

.cardText{
    margin: 30px;
    text-align: left;
}


@media only screen and (max-width: 900px) {
    .cardItem{
        width: 200px;
        max-height: 400px;
    }

    .cardText h4 {
        font-size: 15px;
    }

    .cardText p {
        font-size: 12px;
    }
}