.navbar{
    background-color: #006465;
    height: auto;
}

.logoTexto{
    margin-left: 10%;
    color: rgba(255, 255, 255, 0.800);
    padding: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.logoTexto:hover{
    color: white;
    text-decoration: none !important;
    transform: scale(1.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logoTexto img{
    max-width: 50px;
}

.navBarDerecha{
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
}

.DropDown,
.navLink{
    display: flex;
    align-items: center;
    height: 70px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 0;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.800);
    padding: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.DropDown:hover,
.navLink:hover{
    color: white;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none !important;
    transform: scale(1.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.show>.btn-primary.dropdown-toggle {
    color: white;
    background-color: transparent; 
    border-color: transparent; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}
