
.navbar{
    background-color: rgb(18, 139, 48);
    height: auto;
}

a{
    color: aliceblue;
    text-decoration: none !important; 
}

a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 1.5px solid rgb(0, 0, 0);
}

.logoTexto{
    font-size: 30px;
}

.logoImg{
    max-width: 100px;
    width: 100%;
}

.DropDown{
    background-color: transparent !important;
}