.footer {
    font-size: 14px;
    background-color: #484848;
    width: 100%;
    text-align: center;
    color: #0f928c;
    margin-top: 30px;
}

.footerLogo img{
    max-width: 50px;
}

.footerIcons img{
    width: 30px;
}
.footerLogo{
    font-size: 1.2em;
    color: #0f928c !important;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid white;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.footerLogo:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.footerIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid white;
    flex-wrap: wrap;
} 
.footerProximamente{
    color: #0f928c;
    margin-bottom: 0;
}

.footerIcons img {
    margin: 0 30px; 
}

.footerCopy{
    padding: 10px;
}