.body{
    min-height: 90vh;
    text-align: center;
}

@media only screen and (max-width: 900px){
    .body{
        min-height: 60vh;
    }
}

:root{
    --textLink-white-rgba-color: rgba(255, 255, 255, 0.800);
    --border-radius: 15px;
    --transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}
