.counter{
    display: block;
    margin: 10px;
    padding: 10px;
}

.counterSumaResta,
.counterBoton,
.counterAgregar{
    padding: 30px;
    margin: 20px;
    display: flex;
    align-items: center;
    max-height: 50px;
    justify-content: left;
}

.counterNumero{
    margin: 0px;
}